<div class="clearfix">
    <h1>{{title}}</h1>
    <div class="text-right">
    <a href="{{editurl}}" title="{{#str}}createnew, local_lb_filetransfer{{/str}}" class="btn btn-primary mb-3"><i class = "fa fa-plus"></i>&nbsp;{{#str}}createnew, local_lb_filetransfer{{/str}}</a>
    </div>
    {{{tablehtml}}}
</div>
